@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

body {
  overflow-y: auto;
  height: 100vh;
  font-size: 26px;
  color: rgb(var(--foreground-rgb));
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  @apply w-[1200px] max-w-[calc(100vw-48px)] mx-auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
